<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="style.css" />

		<title>Tall Text Generator</title>
	</head>
	<body>
		<div id="app" class="container">
			<h1 class="text-center">Tall Text Generator</h1>
			<p>Copy the following:<br />{{ malformed() }}</p>
			<input v-model="height" type="text" class="form-control" placeholder="5">
			<br />
			<input v-model="text" type="text" class="form-control" placeholder="Your text here">
			<br />
			<p>
				<b>Pick a mode (some may appear weird until used elsewhere):</b>
			</p>
			<input type="radio" value="Bars" v-model="mode">
			<label for="one">{{ example("Bars") }}</label>
			<br />
			<input type="radio" value="Dots" v-model="mode">
			<label for="two">{{ example("Dots") }}</label>
			<br />
			<input type="radio" value="Ticks" v-model="mode">
			<label for="two">{{ example("Ticks") }}</label>
			<br />
			<span>Picked Mode: {{ mode }}</span>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>
